<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Note editing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--see create-note-form.component.ts for definition-->
  <app-create-note-form [id]="id"></app-create-note-form>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
